body {
  margin: 0;
  background-color: #ffffff;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 15px ), repeating-linear-gradient( #6a6a6a55, #6a6a6a );
  background-attachment:fixed;
}

#Title {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 3%;
  margin-top: 3%;
}

#aboutMe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 3%;
  margin-top: 3%;

}

header {
    background-color: #ffffff;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

#titleDivider{
  width: 90%;
  height: 1px;
  background-color: #6a6a6a;
}

#buttongrid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#titleButtons{
  width: auto;
  font-family: 'Times New Roman', Times, serif;
  background-color: #ffffff;
  border: #ffffff;
  margin: auto;
  border-radius: 10px;
  transition-duration: 0.4s;
  padding:7%;
  padding-left: 10%;
  padding-right: 10%;
}

/* icons */
#titleButtons span{
  color: #6a6a6a;
  font-size: 3vb;
}

/* Hover Colour */
#titleButtons:hover{
  background-color: #e1e1e1;
}

#aboutButtons:hover{
  background-color: #e1e1e1;
}

/* Hover Swipe */
/* ABOUT BUTTON */
.aboutbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.aboutbutton span:after {
  content: ' About';
  position: absolute;
  opacity: 0;
  top: 0;
}
.aboutbutton:hover span {
  padding-right: 25px;
}
.aboutbutton:hover span i{
  opacity: 0;
  transition: 0.5s;
}
.aboutbutton:hover span:after {
  opacity: 1;
  right: 0;
}

/* PROJECT BUTTON */
.projectbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.projectbutton span:after {
  content: ' Projects';
  position: absolute;
  opacity: 0;
  top: 0;
}
.projectbutton:hover span {
  
  padding-right: 25px;
}
.projectbutton:hover span i{
  opacity: 0;
  transition: 0.5s;
}
.projectbutton:hover span:after {
  opacity: 1;
  right: 0;
}

/* CV BUTTON */
.cvbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.cvbutton span:after {
  content: ' CV';
  position: absolute;
  opacity: 0;
  top: 0;
}
.cvbutton:hover span {
  padding-right: 10px;
}
.cvbutton:hover span i{
  opacity: 0;
  transition: 0.5s;
}
.cvbutton:hover span:after {
  opacity: 1;
  right: 0;
}

/* GIT BUTTON */
.gitbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.gitbutton span:after {
  content: ' Git';
  position: absolute;
  opacity: 0;
  top: 0;
}
.gitbutton:hover span {
  padding-right: 10px;
}
.gitbutton:hover span i{
  opacity: 0;
  transition: 0.5s;
}
.gitbutton:hover span:after {
  opacity: 1;
  right: 0;
}

#main{
  padding-left: 4%;
  padding-right: 4%;
  background-color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: auto;
  padding-top: 1%;
  margin-bottom: 5%;
}

#personalImage{
  width: 40%;
  float: left;
  margin-right: 5%;
  margin-bottom: 2%;
}

#gradImage{
  width: 39%;
  float: right;
  margin-left: 2%;
  margin-bottom: 5%;

}

#arcadeImage{
  width: 45%;
  float: left;
  margin-right: 5%;
  margin-bottom: 2%;
}

#mercImage{
  width: 50%;
  float: right;
  margin-left: 5%;
  margin-bottom: 2%;
}

#snowImage{
  width: 45%;
  float: left;
  margin-right: 5%;
  margin-bottom: 2%;
}

#powerliftImage{
  width: 50%;
  float: right;
  margin-left: 5%;
  margin-bottom: 2%;
}

#guitarImage{
  width: 45%;
  float: left;
  margin-right: 5%;
  margin-bottom: 2%;
}

p{
  font-size: 3vb;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

#aboutInfo{
  border-style: solid;
  border-width: 1%;
  border-color: #6a6a6a;
  display:inline-block;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: auto;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 95%;
  height: auto;
}

h2{
  text-align: center;
  font-size: 6vb;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #6a6a6a;
  text-decoration: underline;
}

.linked{
  background-color: #6a6a6a;
  color: white;
  padding: 2.5% 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
  border-radius: 100%;
  cursor: pointer;
  margin-bottom: 3%;
}

.interestText{
  display: inline-block;
}

.interestsTitlesLeft{
  font-size: 3vb;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-style: solid;
  border-color: #6a6a6a;
  border-width: 0.2em;
  padding: 3%;
  margin-left: 50%;
  text-align: center;
}

.interestsTitlesRight{
  font-size: 3vb;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-style: solid;
  border-color: #6a6a6a;
  border-width: 0.2em;
  padding: 3%;
  margin-right: 55%;
  text-align: center;
  width: auto;
}

.subTitle{
  font-size: 3vb;
  padding-left: 5%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #6a6a6a;
}
.skillTitle{
  font-size: 4vb;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #6a6a6a;
  text-align: center;
  text-decoration: underline;
}

#ntuShield{
  width: 2em;
  float: left;
  padding-right: 1%;
}
#invictusShield{
  width: 5em;
  float: left;
  padding-right: 1%;
  padding-top: 1.5%;
}

#eduTitle{
  font-size: 3vb;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #6a6a6a;
  text-decoration: underline;
}

.schools{
  position: relative;
  border-style: solid;
  border-width: 1%;
  border-color: #6a6a6a;
  padding-left: 3%;
  padding-right: 1.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 5%;
  width: auto;
  height: auto;
}

.profileDivider{
  display: grid;
  grid-template-columns:50% 50%;
  gap: 1%;
}

.subtext{
    padding-left: 5%;
    padding-right: 5%;

}

#library{
  display: grid;
  grid-template-columns:auto auto auto auto auto;
  gap: 1%;
  border-style: solid;
  border-width: 1vw;
  border-color: #5a2d03;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: auto;
  margin-bottom: 5%;
  width: auto;
  height: auto;
  background-image: url("images/books/wood.jpg");
}

.book{
  width: 100%;
  height: auto;
  object-fit: contain;
  align-self: end;
  border-style: solid;
  border-width: 0.5vw;
}
