body {
  margin: 0;
  background-color: #ffffff;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 15px ), repeating-linear-gradient( #6a6a6a55, #6a6a6a );
  background-attachment:fixed;
}

#Title {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 3%;
  margin-top: 3%;
}

header {
    background-color: #ffffff;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

#titleDivider{
  width: 90%;
  height: 1px;
  background-color: #6a6a6a;
}

#buttongrid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#titleButtons{
  width: auto;
  font-family: 'Times New Roman', Times, serif;
  background-color: #ffffff;
  border: #ffffff;
  margin: auto;
  border-radius: 10px;
  transition-duration: 0.4s;
  padding:7%;
  padding-left: 10%;
  padding-right: 10%;
}

/* icons */
#titleButtons span{
  color: #6a6a6a;
  font-size: 3vb;
}

/* Hover Colour */
#titleButtons:hover{
  background-color: #e1e1e1;
}

#aboutButtons:hover{
  background-color: #e1e1e1;
}

/* Hover Swipe */
/* ABOUT BUTTON */
.aboutbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.aboutbutton span:after {
  content: ' About';
  position: absolute;
  opacity: 0;
  top: 0;
}
.aboutbutton:hover span {
  padding-right: 25px;
}
.aboutbutton:hover span i{
  opacity: 0;
  transition: 0.5s;
}
.aboutbutton:hover span:after {
  opacity: 1;
  right: 0;
}

/* PROJECT BUTTON */
.projectbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.projectbutton span:after {
  content: ' Projects';
  position: absolute;
  opacity: 0;
  top: 0;
}
.projectbutton:hover span {
  
  padding-right: 25px;
}
.projectbutton:hover span i{
  opacity: 0;
  transition: 0.5s;
}
.projectbutton:hover span:after {
  opacity: 1;
  right: 0;
}

/* CV BUTTON */
.cvbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.cvbutton span:after {
  content: ' CV';
  position: absolute;
  opacity: 0;
  top: 0;
}
.cvbutton:hover span {
  padding-right: 10px;
}
.cvbutton:hover span i{
  opacity: 0;
  transition: 0.5s;
}
.cvbutton:hover span:after {
  opacity: 1;
  right: 0;
}

/* GIT BUTTON */
.gitbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.gitbutton span:after {
  content: ' Git';
  position: absolute;
  opacity: 0;
  top: 0;
}
.gitbutton:hover span {
  padding-right: 10px;
}
.gitbutton:hover span i{
  opacity: 0;
  transition: 0.5s;
}
.gitbutton:hover span:after {
  opacity: 1;
  right: 0;
}

#main{
  padding-left: 4%;
  padding-right: 4%;
  background-color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: auto;
  padding-top: 1%;
  margin-bottom: 5%;

}

.container {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: auto;
    display:flex;
    justify-content: center;
    margin-bottom: 5%;
    border-style: solid;
    border-color: #6a6a6a;
    border-width: 50%;
    transition: .5s ease;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    padding: 0;
}


.image {
    display:flex;
    width: 100%;
    height: auto;
    z-index: 1;

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #45454598;
  overflow: hidden;
  width: 100%;
  height: 0%;
  transition: .5s ease;
  z-index: 5;

}

.container:hover .overlay {
  height: 100%;
}


.text {
  white-space: nowrap; 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #e1e1e1;
  font-size: 5vb;
  font-weight:bold;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

.more{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #45454598;
  font-size: 5vb;
  font-weight:bold;
  text-align: center;
}

.dropdown {
  position:absolute;
  background-color: #ffffff;
  z-index: 0;
  top: 0%;
  transition: top .4s ease-in-out, opacity .1s ease;
  border-style: solid;
  border-color: #6a6a6a;
  opacity: 0%;
}


.dropdownText{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000000;
  font-size: 3vb;
  padding-left: 5%;
  padding-right: 5%;
  transition: .7s ease,;
  text-align: left;
}

.container:focus .dropdownText{
  opacity: 100%;
}

.projectImage{
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
}
